<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favoritos
      <ion-icon name="logo-octocat"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cards" *ngIf="favoritosArray.length > 0">
    <ion-card *ngFor="let pokemon of favoritosArray">
      <div class="infos-pokemon">
        <p>{{ pokemon.name }} </p>
        <img [src]="pokemon.urlFoto" />
      </div>
      <div class="buttons">
        <ion-button (click)="openDetalhes(pokemon.url)">Ver detalhes</ion-button>
        <ion-button (click)="addOrRemoveFavoritos(pokemon.name)">Remover de favoritos</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>
