.cards {
  display: flex;
  flex-wrap: wrap;

  ion-card {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
      font-size: 20px;
      color: #000;
      text-align: center;
    }

    img {
      width: 80px;
      height: 80px;
    }

    ion-button {
      --background: #1B1E1D;
      --background-hover: #1B1E1D;
      --background-activated: #1B1E1D;
      --background-focused: #1B1E1D;
      --color: #FFF;
      --border-radius: 8px;
      --padding-top: 10px;
      --padding-bottom: 10px;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }
  }
}

.paginacao {
  display: flex;
  justify-content: center;
}
