<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokemons
      <ion-icon name="logo-octocat"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cards" *ngIf="pokemonsArray.length > 1">
    <ion-card *ngFor="let pokemon of pokemonsArray">
      <p>{{ pokemon.name }} </p>
      <img [src]="pokemon.urlFoto" />
      <ion-button (click)="openDetalhes(pokemon.url)">Ver detalhes</ion-button>
    </ion-card>
  </div>
  <div class="paginacao">
    <ion-button (click)="changePagination(0)">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="changePagination(1)">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
