<ion-header>
  <ion-icon (click)="returnPokemons()" name="arrow-back-circle-outline"></ion-icon>
  <span>{{informacoes.name}}</span>
</ion-header>

<ion-content>
  <div class="container">
    <img class="image-pokemon" [src]="informacoes.urlFoto" />
    <div class="caracteristicas">
      <h4>Características</h4>
      <p>
        Peso: <span>{{informacoes.peso}}g</span>
      </p>
      <p>
        Altura: <span>{{informacoes.altura}}cm</span>
      </p>
      <p>
        Total de movimentos: <span>{{informacoes.movimentos}}</span>
      </p>
      <p>
        Espécie: <span>{{informacoes.especie}}</span>
      </p>
    </div>

    <div class="habilidades">
      <h4>Habilidades</h4>
      <div *ngFor="let habilidade of this.informacoes.habilidades">
        <p>{{habilidade.ability.name}}</p>
      </div>
    </div>

    <div class="tipos">
      <h4>Tipos</h4>
      <div *ngFor="let tipo of this.informacoes.tipos">
        <p>{{tipo.type.name}}</p>
      </div>
    </div>
  </div>
</ion-content>
